@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    margin: 0px;
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    
}
.header {
    background-image: url("../img/background.png");
}

p {
    font-size: 80px;
    font-family: montserrat;
    color: white;
}